* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* PAGE BACKGROUND */
body {
    height: 100vh;
    background: linear-gradient(0deg, rgb(1, 0, 61) 0%, rgb(59, 0, 72) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CHAT CONTAINER */
.container {
    background-color: rgb(166, 121, 91);
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
}

/* HEADER */
.heading {
    height: 60px;
    padding: 10px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.heading img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chat-interface {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* USER QUESTION */
.user-msg {
    align-self: flex-end;
    background: #4c1d95;
    color: white;
    padding: 10px 14px;
    border-radius: 14px 14px 0 14px;
    max-width: 75%;
    font-size: 14px;
}

/* BOT ANSWER */
.bot-msg {
    align-self: flex-start;
    background: #ffffff;
    color: black;
    padding: 10px 14px;
    border-radius: 14px 14px 14px 0;
    max-width: 80%;
    font-size: 14px;
}

/* INPUT AREA */
.input-area {
    height: 80px;
    display: flex;
    padding: 10px;
    background-color: rgb(166, 121, 91);
}

/* TEXTAREA */
textarea {
    width: 80%;
    height: 100%;
    resize: none;
    border: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 20px 0 0 20px;
    outline: none;
}

/* SEND BUTTON */
button {
    width: 20%;
    border: none;
    background-color: rgb(59, 0, 72);
    color: white;
    font-size: 16px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

button:hover {
    background-color: rgb(75, 0, 95);
}

/* FOOTER TEXT */
.container > p {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    color: #eee;
}
